@font-face {
  font-family: 'TT Lakes';
  src: url('TTLakes/TTLakes-Regular.eot');
  src: local('TT Lakes Regular'), local('TTLakes-Regular'),
       url('TTLakes/TTLakes-Regular.woff') format('woff'),
       url('TTLakes/TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes';
  src: url('TTLakes/TTLakes-Bold.eot');
  src: local('TT Lakes Bold'), local('TTLakes-Bold'),
       url('TTLakes/TTLakes-Bold.woff') format('woff'),
       url('TTLakes/TTLakes-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: '  ';
  src: url(' .eot');
  src: local('TT Lakes Medium'), local('TTLakes-Medium'),
       url('TTLakes/TTLakes-Medium.woff') format('woff'),
       url('TTLakes/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

.menu{  
  width: 320px;         
  height: 100dvh;       
  overflow: hidden;       
  box-shadow: 12px 0 28px rgba(27,40,56,.10);
}

body {
  margin: 0;
  font-family: 'TT Lakes', sans-serif;
  }


  
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content:left;
  align-items: center;
  padding: 19px 24px;
  padding-bottom: 0;
  
}

.header__burger {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  border: none;               
  background-color: #FF3E79;          
  background-image: url("Images/icon\ —\ копия.svg"); 
  background-repeat: no-repeat;
  background-position: center;       
}

.header__logo-image {
  width: 97px;
  height: auto;
  margin-left: 17px;
}

.header__search {
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  border: none;                 
  background-color: #FF3E79;          
  background-image: url("Images/icon\ —\ копия\ 2.svg"); 
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 78px;
}

.header__search,
.header__burger {
  transition: all 0.3s ease;   
}

.header__search:hover,
.header__burger:hover {
  transform: scale(1.15);     
}

.main {
  padding-top: 10px;
}

.main__content {
  display: flex;
  align-items: center; 
}

.main__highlight {
  width: 24px;
  height: 40px;
  background-color:#41F6D7;    
  transform: rotate(-180deg);
  border-radius: 6px;
  margin-left: -20px; 
  margin-bottom: 365px;
}

.main__services {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  list-style: none; 
  padding-left: 24px;
  line-height: 52px;
}

.main__button {
  transition: all 0.3s ease;        
}

.main__button:hover {
  background-color: rgba(255, 62, 121, 0.1); 
}

span {
  color: #7E7E82;
}

.footer {
  margin-left: 24px;
  margin-top: 89px;
}




.footer__icon {
  border: none;
  background: none;
}

.footer__icon img{
  width: 40px;
  height: auto;
}

.footer__icon img {
  transition: all 0.3s ease;   
}

.footer__icon:hover img {
  transform: scale(1.15);      
}

.footer__contact--number {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: -0.6px;
  margin-top: 0;
}

.footer__contact--lang {
  margin-top: 40px;
}


